spring:
  application:
    name: backend-server
  sql:
    init:
      mode: always # (Always: 매번 실행, Embedded: 내장 DB일 때만 실행)
      platform: mariadb # 사용할 DB 플랫폼 지정
      continue-on-error: true # DDL 오류 시 무시하고 진행
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    # 로컬 개발 환경용 또는 컨테이너 외부 연결 시 기본 설정 (운영 환경에서는 환경 변수가 덮어씀)
    url: jdbc:mariadb://${DB_HOST:localhost}:3306/demo_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USERNAME:root} # Docker Compose의 MARIADB_USER와 일치해야 함
    password: ${DB_PASSWORD:7305} # Docker Compose의 MARIADB_PASSWORD와 일치해야 함
  #datasource:
   # driver-class-name: org.mariadb.jdbc.Driver
    #url: jdbc:mariadb://localhost:3306/demo_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
   # username: root
   # password: 7305


  # [JPA ??]
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        format_sql: true
        default_batch_fetch_size: 100 # N+1

# [MyBatis ??]
mybatis:
  mapper-locations: classpath:mapper/*.xml  # XML
  configuration:
    map-underscore-to-camel-case: true      # snake_case -> camelCase
    jdbc-type-for-null: NULL                # Null

# [?? ??]
logging:
  level:
    root: INFO
    com.demo.gym: DEBUG        #
    org.hibernate.SQL: DEBUG   # JPA
    org.hibernate.orm.jdbc.bind: TRACE
#cors:
#  allowed-origins: http://prod-domain.com,http://localhost:3000,http://localhost:5173